<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('include/header',{
    Title: "Edit Profile"
  }) %>
    <script src="/scripts/signup-student__script.js" defer></script>

</head>
<body>
    <%- include('include/nav') %>

    <form action="/profile/<%=locals.userID%>/edit" method="POST" class="container mx-auto col-lg-6 mt-5 text-center profile-edit">
  
      <h5 class="profile-edit__header">Update your Profile</h5>
    
      <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="fname" name="fname" value="<%= storedata.name.firstName %>" required>
        <label for="fname">First Name</label>
      </div>

      <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="mname" name="mname" value="<%= storedata.name.middleName %>" required>
        <label for="mname">Middle Name</label>
      </div>

      <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="lname" name="lname" value="<%= storedata.name.lastName %>" required>
        <label for="lname">Last Name</label>
      </div>
     
      <div class="form-floating mb-3 mt-3">
        <input type="email" class="form-control" id="email" name="email" value="<%= storedata.email %>" required>
        <label for="email">Email</label>
      </div>

      <div class="form-floating mt-3 mb-3">
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" value="" name="pwd" required>
        <label for="pwd">Password</label>
      </div>

      <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="username" name="username" value="<%= storedata.username%>" required>
        <label for="username">Username</label>
      </div>

      
      <div class="form-floating mt-3 mb-3">
        <input type="text" class="form-control" id="code" placeholder="Enter password" value="<%= storedata.code%>" name="code" required>
        <label for="code">Code</label>
      </div>

      <div class="mt-3 mb-3">
        <input type="submit" value="Update Profile" class="profile-edit__btn-update">
      </div>
    </form>

    <%- include('include/bootstrapfunctionalities') %>
</body>
</html>